.main-container {
  max-width: 1200px;
  margin: 0px auto;
}

/*TODO centrar todo lo que esta dentro del body!! */
.box-1 {
  margin: 0 35px 8px 35px;
  background-image: url("assets/header.jpg");
  background-size: cover;
  /*TODO hacer que la BI no se expanda ni contraiga */
  background-repeat: no-repeat;
  background-position: center;
  height: 260px;
  display: flex;
  flex-direction: column;

  /* object-fit: fill;
  width: 100%;
  height: 200px;
  object-fit: cover; */
}

.section-1 {
  padding: 20px;
  padding-top: 40px;
  display: flex;
  gap: 20px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.section-1 > * {
  flex: 1;
}

#a2 {
  flex: 5;
}

.nav-items,
.social-link-list {
  font-size: 0.7em;
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

a {
  color: #808080;
  text-decoration: none;
  padding-inline-start: 0px;
}

@media screen and (max-width: 600px) {
  .section-1 {
    flex-direction: column;
  }
  #a1,
  #a2,
  #a3 {
    flex: none;
    width: 100%;
  }
}

.section-2 {
  flex: 1 1 auto;
  padding: 0px 20px 0px 20px;
  display: flex;
  /* height: calc(100% - 260px); */
  align-items: flex-end;
  justify-content: center;
}

.transparent-rectangle {
  width: 95%;
  height: 45%;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  /*TODO hacer que el tamaño del text se adapte */
  color: rgb(244, 155, 122, 0.9);
  font-size: 1.5em;
  padding-top: 20px;
}

/* ---------------------------- */

.box-2 {
  margin: 0 35px 8px 35px;
  gap: 8px;
  display: flex;
}

@media screen and (max-width: 768px) {
  .box-2 {
    flex-direction: column;
    border-color: yellow;
  }
}
.section-3 {
  padding: 7px;
  flex: 8;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #d8d7d7;
}

@media screen and (max-width: 768px) {
  .section-3 {
    border-right: 0px;
    border-bottom: 20px solid;
    border-color: yellow;
  }
}

.container-1 {
  display: flex;
  gap: 20px;
}

.article {
  flex: 1;
  position: relative;
  background-color: #f5f1f1;
  padding: 10px;
  width: 200px;
}

.pic-container {
  position: relative;
  width: 100%;
  aspect-ratio: 2/1;
}

.article-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pic-date {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: #eada8f;
  font-size: 0.75em;
  font-weight: 550;
}

.article-title {
  font-size: 1em;
  font-weight: 550;
  background-color: #f08080;
  padding-left: 5px;
  padding-top: 8px;
  color: white;
}

.article-body {
  column-count: 2;
  font-size: 0.73em;
  font-weight: 300;
  column-gap: 15px;
  margin: 20px 5px;
  color: #585858;
}

.article-link {
  margin-left: 5px;
  color: #959494;
}

@media screen and (max-width: 600px) {
  .container-1 {
    flex-direction: column;
    gap: 20px;
  }
  .blue-element {
    flex: none;
    width: 100%;
  }
}

.section-4 {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #d8d7d7;
  flex: 2;
}

.articles-footer {
  text-align: center;
  font-size: 0.73em;
}

.rc-title {
  font-weight: 800;
  margin: 10px;
  font-size: 1em;
  text-align: center;
}

.rc-body {
  text-align: center;
  font-size: 0.8em;
}

/* ---------------------------- */

.box-3 {
  margin: 0 35px 20px 35px;
  background-color: #d8d7d7;
  padding: 0px 8px;
}

.footer-text {
  text-align: center;
  padding: 5px 0px;
  background-color: #f5f1f1;
}

/* ---------------------------- */
